<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/scss/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        Created by {{name}}
    </div>
    <form>
        <input id="location" type="text" placeholder="Location">
        <button>Search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>

    <script src="./js/app.js"></script>
</body>
</html>